table {
  margin-right: auto;
  margin-left: auto;
}

table a {
  text-decoration-line: none;
}

/* 도시 정보 */

.info {
  font-size: 100px;
  text-align: center;
}

.info_img {
  display: block;
  margin: auto;
}

.city {
  border: 1px solid black;
  border-collapse: collapse;
}

.city th,
td {
  border: 1px solid black;
  padding: 20px;
  font-size: large;
}

/* 지역 행사 */

.calendar {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 1500px;
}

.calendar th,
.calendar td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width : 1100px;
}

.calendar td {
  height : 100px;
}

.calendar th {
  background-color: #f2f2f2;
}

.calendar td:hover {
  background-color: yellow;
}

.cal {
  padding-top: 20px;
  padding-bottom: 50px;
}

.region_info {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.region_info th {
  border: 1px solid black;
  background-color: lightgray;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

.clearfix {
  font-size: 30px;
  position: fixed;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.clearfix li {
  font-size: 30px;
  padding: 25px 25px 25px 25px;
  text-align: center;
}

.clearfix a {
  line-height: 50px;
  height: 50px;
}

.clearfix li a {
  box-sizing: border-box;
}

.clearfix li:last-child a {
  border-right: 0;
}

.clearfix {
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align: center;
}

.clearfix li {
  display: inline-block;
}

.clearfix li a {
  color: #FFFFFF;
  text-align: center;
  padding: 14.5px 16px;
  text-decoration: none;
}

.clearfix li a:hover {
  color: #ffd400;
  font-weight: bold;
}

header {
  width: 100%;
  height: 100px;
  text-align: center;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #333333;
  color: white;
  position: relative;
  z-index: 1;
}

/* 핫 뉴스 */

.hot_table caption {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  padding-right: 85%;
}

.hot_table {
  width: 60%;
  border-top: 1px solid black;
  border-collapse: collapse;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.hot_table th {
  background-color: lightgray;
}

.hot_table th,
.hot_table td {
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
  border-left: none;
  border-right: none;
}

.hot_table a {
  text-decoration: none;
  color: black;
}

.hot_table a:hover {
  color: gold;
  font-weight: bold;
}

/* 관광 명소 */

.tour {
  width: 100%;
  height: 100vmax;
  padding-top: 50px;
}

.tour_box {
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.tour_list {
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;  
  margin-left: 20px;
  float: left;
}

.tour_list img {
  vertical-align: top;
  width: 430px;
  height: 300px;
}

.tour_list .inf {
  text-align: center;
  padding: 20px;
}

.tour_list .inf h3 {
  font-size: 22px;
  color: black;
  margin-top: 0px;
  margin-bottom: 15px;
}

.tour_list .inf p {
  font-size: 14px;
  color: gray;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 15px;
  height: 70px;
  font-weight: normal;
}

.tour_list .inf a {
  font-size: 18px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.tour_list .inf h3:hover {
  color: red;
}

.tour_list .inf a:hover {
  color: cornflowerblue;
}

/* footer */

footer {
  width: 100%;
  height: 30px;
  bottom: 0;
  position: fixed;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
}